.Task {
  @include flex-container(column, auto, auto);
  padding: 20px;
  border-radius: 12px;
  background-color: $light;
  color: $black;

  .firstLine,
  .secondLine {
    @include flex-container(row, space-between, center, 20px);
  }

  .firstLine {
    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-color: $dark;
    }

    .check {
      width: 40px;
      height: 40px;
    }
  }

  .secondLine {
    .todo {
      font-size: 1.4rem;
    }
  }
}

.completed {
  background-color: $pastelgreen;
}
