@import url("https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&family=Chakra+Petch:wght@400;700&family=Chivo+Mono:wght@400;800&family=Comfortaa:wght@400;700&family=Edu+NSW+ACT+Foundation:wght@400;700&family=Hanken+Grotesk:wght@400;700&family=Josefin+Sans:wght@400;700&family=Lexend+Deca:wght@400;700;800&family=Nanum+Myeongjo:wght@400;800&family=Nothing+You+Could+Do&family=Orbitron:wght@400;700&family=Poppins:wght@400;700&family=Quicksand:wght@400;700&family=Sen:wght@400;700&family=Ubuntu:wght@300&family=Unbounded:wght@400;800&family=Varela+Round&display=swap");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-family: "Comfortaa", cursive;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  body {
    box-sizing: border-box;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
