.Modal {
  @include flex-container(row, center, center);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $blackalpha;
    z-index: 1;
  }

  .content {
    @include flex-container(column, flex-start, center, 50px);
    position: fixed;
    width: 500px;
    height: 360px;
    color: $black;
    background-color: $white;
    box-shadow: 0px -8px 30px 0 $black;
    padding: 30px;
    border-radius: 18px;
    z-index: 2;

    .close {
      position: absolute;
      top: 30px;
      right: 30px;
      cursor: pointer;
    }

    form {
      @include flex-container(column, flex-start, center, 30px);

      .inputTask {
        width: 240px;
        outline: none;
        padding: 4px 10px;
        border-radius: 6px;
      }

      .submit {
        width: 100px;
        padding: 6px;
        border-radius: 6px;
        border: none;
        cursor: pointer;
        transition: all $timeFast;

        &:hover {
          background-color: $primary;
        }
      }
    }
  }
}
