// Default
//--------------------------------------------------------------------///
$black: #000000;
$white: #ffffff;
$blackalpha: #00000066;
$whitealpha: #ffffffde;

// Design System
//--------------------------------------------------------------------//
$primary: #ff1493;
// $secondary: #9cd2cd;
$dark: #242424;
$medium: #808080;
$light: #d3d3d3;
$pastelgreen: #c5d49b;
